<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-1">
      <h1><%= @cocktail.name %></h1>
      <ul>
        <% @cocktail.doses.each do |dose| %>
          <li> <%= dose.ingredient.name %> <%= link_to "x", cocktail_dose_path(dose), method: :delete %><br><em><%= dose.description %></em></li>
        <% end %>
      </ul>
      <h2>Compose your <%= @cocktail.name %>:</h2>
        <%= simple_form_for [@cocktail, @dose] do |f| %>
          <%= f.input :description %>
          <%= f.association :ingredient, input_html: { class: "beautiful-dropdown" }, include_hidden: false %>
          <%= f.submit class: "btn btn-primary" %>
        <% end %>
<!-- -->
        <p><%= link_to "List Cocktails", cocktails_path %></p>
    </div>
  </div>
</div>
